releasingplatformmule/src/main/app/rcm_jdbc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <jdbc-ee:mysql-data-source name="MySQL_Data_Source_Release" user="root" password="" url="jdbc:mysql://localhost:3306/release_dev" transactionIsolation="UNSPECIFIED" doc:name="MySQL Data Source"/>
    <jdbc-ee:connector name="RCM_Database" dataSource-ref="MySQL_Data_Source_Release" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database">
        <jdbc-ee:query key="selectAll" value="SELECT * FROM rcm_process"/>
        <jdbc-ee:query key="insertItem" value="INSERT INTO rcm_process SET Rid=#[message.inboundProperties['Rid']], BPMid=#[message.inboundProperties['BPMid']], name=#[message.inboundProperties['name']]"/>
        <jdbc-ee:query key="updateItem" value="UPDATE rcm_process SET Rid=#[message.inboundProperties['Rid']], BPMid=#[message.inboundProperties['BPMid']], name=#[message.inboundProperties['name']]"/>
        <jdbc-ee:query key="deleteItem" value="DELETE FROM rcm_process WHERE RCid=#[message.inboundProperties['RCid']]"/>
        <jdbc-ee:query key="findById" value="SELECT * FROM rcm_process WHERE RCid=#[message.inboundProperties['RCid']]"/>
    </jdbc-ee:connector>
    <flow name="listAllReleaseConstructions" doc:name="listAllReleaseConstructions">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" path="list" doc:name="HTTP localhost:9091/list"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectAll" queryTimeout="-1" connector-ref="RCM_Database" doc:name="List all release constructions"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="createReleaseConstruction" doc:name="createReleaseConstruction">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" doc:name="HTTP localhost:9091/create" path="create"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="Create new release construction" connector-ref="RCM_Database" queryKey="insertItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="List all release constructions" connector-ref="RCM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="updateReleaseConstruction" doc:name="updateReleaseConstruction">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" doc:name="HTTP localhost:9091/update" path="update"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="Update a release construction" connector-ref="RCM_Database" queryKey="updateItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="List all release constructions" connector-ref="RCM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="deleteReleaseConstruction" doc:name="deleteReleaseConstruction">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" doc:name="HTTP localhost:9091/delete" path="delete"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="Delete a release construction" connector-ref="RCM_Database" queryKey="deleteItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response"  doc:name="List all release constructions" connector-ref="RCM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="findReleaseConstruction" doc:name="findReleaseConstruction">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="9091" doc:name="HTTP localhost:9091/find" path="find"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="Find a release construction" connector-ref="RCM_Database" queryKey="findById"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
