releasingplatformmule/src/main/app/ReleasingPlatformMule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns:wmq="http://www.mulesoft.org/schema/mule/ee/wmq" xmlns:jetty="http://www.mulesoft.org/schema/mule/jetty" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" 
	  xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" 
	  xmlns:http="http://www.mulesoft.org/schema/mule/http" 
	  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" 
	  xmlns="http://www.mulesoft.org/schema/mule/core" 
	  xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" 
	  xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" 
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://jersey.apache.org/core http://jersey.apache.org/schemas/core.xsd
http://www.mulesoft.org/schema/mule/jetty http://www.mulesoft.org/schema/mule/jetty/current/mule-jetty.xsd
http://www.mulesoft.org/schema/mule/ee/wmq http://www.mulesoft.org/schema/mule/ee/wmq/current/mule-wmq-ee.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:connector name="HTTP_HTTPS" cookieSpec="netscape" validateConnections="true" sendBufferSize="0" receiveBufferSize="0" receiveBacklog="0" clientSoTimeout="10000" serverSoTimeout="10000" socketSoLinger="0" doc:name="HTTP\HTTPS"/>
    <http:endpoint exchange-pattern="request-response" host="localhost" port="8081" method="GET" name="HTTP" doc:name="HTTP"/>
    <not-filter name="Not" doc:name="Not">
        <wildcard-filter pattern="/favicon.ico" caseSensitive="true"/>
    </not-filter>
    <jdbc-ee:mysql-data-source name="MySQL_Data_Source" user="root" password="" url="jdbc:mysql://localhost:3306/component_dev" transactionIsolation="UNSPECIFIED" doc:name="MySQL Data Source"/>
    <jdbc-ee:connector name="Database" dataSource-ref="MySQL_Data_Source" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database">
        <jdbc-ee:query key="selectAll" value="SELECT * FROM component_table"/>
        <jdbc-ee:query key="insertItem" value="INSERT INTO component_table SET name=#[message.inboundProperties['name']], type=#[message.inboundProperties['type']], ref=#[message.inboundProperties['ref']]"/>
        <jdbc-ee:query key="updateItem" value="UPDATE component_table SET name=#[message.inboundProperties['name']], type=#[message.inboundProperties['type']], ref=#[message.inboundProperties['ref']] WHERE comp_id=#[message.inboundProperties['comp_id']]"/>
        <jdbc-ee:query key="deleteItem" value="DELETE FROM component_table WHERE comp_id=#[message.inboundProperties['comp_id']]"/>
        <jdbc-ee:query key="findById" value="SELECT * FROM component_table  WHERE comp_id=#[message.inboundProperties['comp_id']]"/>
    </jdbc-ee:connector>
    <flow name="UserInterface" doc:name="UserInterface">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="ui" doc:name="HTTP"/>
        <filter ref="Not" doc:name="Exclude /favicon.ico"/>
        <http:static-resource-handler resourceBase="${app.home}/web" defaultFile="ui.html" doc:name="UI"/>
    </flow>
    <flow name="listAllComponents" doc:name="listAllComponents">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="list" doc:name="HTTP"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryTimeout="-1" connector-ref="Database" doc:name="List all components" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="createItem" doc:name="createItem">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="create" doc:name="HTTP"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="insertItem" queryTimeout="-1" connector-ref="Database" doc:name="Create new item"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectAll" queryTimeout="-1" connector-ref="Database" doc:name="List all items"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="updateItem" doc:name="updateItem">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="update" doc:name="HTTP"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="updateItem" queryTimeout="-1" connector-ref="Database" doc:name="Update an item"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectAll" queryTimeout="-1" connector-ref="Database" doc:name="List all items"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="deleteItem" doc:name="deleteItem">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="delete" doc:name="HTTP"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="deleteItem" queryTimeout="-1" connector-ref="Database" doc:name="Delete an item"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="selectAll" queryTimeout="-1" connector-ref="Database" doc:name="List all items"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="findItemById" doc:name="findItemById">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="find" doc:name="HTTP"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" queryKey="findById" queryTimeout="-1" connector-ref="Database" doc:name="Find an item"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="RM" doc:name="RM">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="11000" doc:name="HTTP localhost:11000"/>
        <jersey:resources doc:name="RM">
            <component class="services.RM"/>
        </jersey:resources>
    </flow>
    <flow name="Declaration" doc:name="Declaration">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="11001" doc:name="HTTP localhost:11001"/>
        <jersey:resources doc:name="Declaration">
            <component class="services.DeclarationResource"/>
        </jersey:resources>
    </flow>
    <flow name="Building" doc:name="Building">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="11002" doc:name="HTTP localhost:11002"/>
        <jersey:resources doc:name="Building">
            <component class="services.BuildingResource"/>
        </jersey:resources>
    </flow>
    <flow name="Validation" doc:name="Validation">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="11003" doc:name="HTTP localhost:11003"/>
        <jersey:resources doc:name="Validation">
            <component class="services.ValidationResource"/>
        </jersey:resources>
    </flow>
    <flow name="Deploy" doc:name="Deploy">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="11004" doc:name="HTTP localhost:11004"/>
        <jersey:resources doc:name="Deploy">
            <component class="services.DeployResource"/>
        </jersey:resources>
    </flow>
    <flow name="RCMUserInterface" doc:name="RCMUserInterface">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="13000" path="RCMUserInterface" doc:name="HTTP localhost:13000"/>
        <filter ref="Not" doc:name="Exclude Favicon.ico"/>
        <http:static-resource-handler resourceBase="${app.home}/web" defaultFile="index.html" doc:name="RCM User Interface"/>
    </flow>
    <flow name="RCM" doc:name="RCM">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="14000" doc:name="HTTP localhost:14000"/>
        <set-property propertyName="Access-Control-Allow-Origin" value="*" doc:name="Property" />
        <jersey:resources doc:name="RCM">
            <component class="services.RCM"/>
        </jersey:resources>
    </flow>
    <flow name="CheckOut" doc:name="CheckOut">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12001" doc:name="HTTP localhost:12001"/>
        <jersey:resources doc:name="Check Out">
            <component class="services.CheckOutResource"/>
        </jersey:resources>
    </flow>
    <flow name="Compilation" doc:name="Compilation">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12002"  doc:name="HTTP localhost:12002"/>
        <jersey:resources doc:name="Compilation">
            <component class="services.CompilationResource"/>
        </jersey:resources>
    </flow>
    <flow name="Tests" doc:name="Tests">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12003"  doc:name="HTTP localhost:12003"/>
        <jersey:resources doc:name="Check">
            <component class="services.CheckResource"/>
        </jersey:resources>
    </flow>
    <flow name="Deliver" doc:name="Deliver">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12004"  doc:name="HTTP localhost:12004"/>
        <jersey:resources doc:name="Deliver">
            <component class="services.DeliverResource"/>
        </jersey:resources>
    </flow>
    <flow name="Publish" doc:name="Publish">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12005"  doc:name="HTTP localhost:12005"/>
        <jersey:resources doc:name="Publish">
            <component class="services.PublishResource"/>
        </jersey:resources>
    </flow>
    <flow name="Copy" doc:name="Copy">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12006" doc:name="HTTP localhost:12006"/>
        <jersey:resources doc:name="Copy">
            <component class="services.CopyResource"/>
        </jersey:resources>
    </flow>
    <flow name="Promote" doc:name="Promote">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="12007" doc:name="HTTP localhost:12007"/>
        <jersey:resources doc:name="Promote">
            <component class="services.PromoteResource"/>
        </jersey:resources>
    </flow>
</mule>
