releasingplatformmule/src/main/app/rm_jdbc.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jdbc-ee="http://www.mulesoft.org/schema/mule/ee/jdbc" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/jdbc http://www.mulesoft.org/schema/mule/ee/jdbc/current/mule-jdbc-ee.xsd">
    <jdbc-ee:connector name="RM_Database" dataSource-ref="MySQL_Data_Source_Release" validateConnections="true" queryTimeout="-1" pollingFrequency="0" doc:name="Database">
        <jdbc-ee:query key="selectAll" value="SELECT * FROM rm_release"/>
        <jdbc-ee:query key="insertItem" value="INSERT INTO rm_release SET Rname=#[message.inboundProperties['Rname']], status=#[message.inboundProperties['status']], owner=#[message.inboundProperties['owner']]"/>
        <jdbc-ee:query key="updateItem" value="UPDATE rm_release SET Rname=#[message.inboundProperties['Rname']], status=#[message.inboundProperties['status']], owner=#[message.inboundProperties['owner']]"/>
        <jdbc-ee:query key="deleteItem" value="DELETE FROM rm_release WHERE Rid=#[message.inboundProperties['Rid']]"/>
        <jdbc-ee:query key="findById" value="SELECT * FROM rm_release WHERE Rid=#[message.inboundProperties['Rid']]"/>
    </jdbc-ee:connector>
    <flow name="listAllReleases" doc:name="listAllReleases">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7071" path="list" doc:name="HTTP localhost:7071/list"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="List all releases" connector-ref="RM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="createNewRelease" doc:name="createNewRelease">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7071" path="create" doc:name="HTTP localhost:7071/create"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="Create new release" connector-ref="RM_Database" queryKey="insertItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="List all releases" connector-ref="RM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="updateRelease" doc:name="updateRelease">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7071" path="update" doc:name="HTTP localhost:7071/update"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="Update a release" connector-ref="RM_Database" queryKey="updateItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="List all releases" connector-ref="RM_Database" queryKey="selectAll"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="deleteRelease" doc:name="deleteRelease">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7071" path="delete" doc:name="HTTP localhost:7071/delete"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="Delete a release" connector-ref="RM_Database" queryKey="deleteItem"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="List all releases" connector-ref="RM_Database" queryKey="deleteItem"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="findReleaseById" doc:name="findReleaseById">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="7071" path="find" doc:name="HTTP localhost:7071/find"/>
        <jdbc-ee:outbound-endpoint exchange-pattern="request-response" doc:name="Find a release" connector-ref="RM_Database" queryKey="findById"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
</mule>
